<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Certificate Page</title>
    
  </head>
  <body>

    <form>Upload Certificate:
      <input type="file" class="file-input" name="certificate-input" [(ngModel)]="certificateUploading"
            (change)="onUploadFile($event)" #fileUpload>
      
      <input type="password" name="password" placeholder="Certificate password" required [(ngModel)]="certificate.password">
      <p>{{uploadedMsg}}</p>

      <form>Certificates: 
        @for (certificate of certificates; track certificate.id) {
            <li>{{ certificate.name }}</li>
            } @empty {
            <li>There are no certificates.</li>
            }
  
      </form>
      <p>{{getUploadedMsg}}</p>
      
    </form>

    
    
    
    <form>Sign Document:
      <input type="file" class="file-input" name="signing-input"
            (change)="onSignSelected($event)" #signDocument [(ngModel)]="documentSigning">

      <input type="password" name="password" placeholder="Signing password" required [(ngModel)]="documentToSign.certificatePassword">
      <p>{{signMsg}}</p>
    </form>


    

  </body>
</html>
